<table style="width:100%">
  <tr>
    <th>Seat #</th>
    <th>Name</th>
    <th>Sitting</th>
    <th>User's Seat</th>
  </tr>
  {{#each list as |element|}}
    <tr>
      <td>
        Seat {{element}}:
      </td>
      <td>
        <span id="playername{{element}}">Player {{element}}</span><br>
      </td>
      <td>
        <input type="checkbox" name="seats" value="{{element}}"><br>
      </td>
      <td>
        <input type="radio" name="user" value="{{element}}"><br>
      </td>
    </tr>
  {{/each}}
</table>
