<table style="width:100%" class="table">
  <tr>
    <th>Seat #</th>
    <th>Name</th>
    <th>Sitting</th>
    <th>User</th>
  </tr>
  {{#each list as |element|}}
    <tr>
      <td>
        {{element}}
      </td>
      <td>
        <input type="text" class="input-query" id="playername{{element}}" value="Player {{element}}"><br>
      </td>
      <td>
        <input type="checkbox" id="checkbox{{element}}" name="seats" value="{{element}}" checked><br>
      </td>
      <td>
        <input type="radio" id="radio{{element}}" name="user" value="{{element}}"><br>
      </td>
    </tr>
  {{/each}}
</table>
